.navbar-rafif {
    min-height: 10% !important;
    background-color: black !important;
}
.navbar-rafif a{
    margin-inline-end: 100px !important;
    margin-inline-start: 100px !important;
    font-size: 22px !important;

}

.all-hlmn{
    height: 100vh;
    display: flex;
}

.hlmn-satu{
    background-image: url("./wallpaper.jpg"); 
    background-size: cover;
    align-items: center;
    justify-content: center;
    
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Muli'!important;
    color: #000000 !important;
    font-weight: bolder !important;
}

.grey-box{
    background-color: rgba(196, 196, 196, 0.5);
    width: 811px;
    height: 250px;
    align-items: center;
    text-align: center;
    position: relative;
}
.title-name{
    font-size: 96px;
    position: absolute;
    top: 35%;
}
.bio-prof{
    color: white;   
    position: absolute;
    top: 53%;
    font-size: 72px;
}
.line-container{
    margin-left: auto;
    margin-right: auto;

}
.line{
    margin-left: auto;
    margin-left: auto;
    height:5px;
    background-color: #000000;
    width: 257px;
}
.inline{
    float: left;
}
.bio p{
    font-size: 150%;
}

.icon{
    max-width: 150px;
    margin-left: 32%;
}
.icon-walk{
    max-width: 150px;
    margin-left: 35%;
}
.icon-name{
    font-size: 150%;
    color: bisque;
    margin-left: 8%;
    text-align: center;
    margin-top: 2%;
}
.deskripsi{
    text-align: center !important;
    font-size: 160%;
}